.container{
    width: 450px;
    background-color: rgb(245, 245, 245, 0.15);
    border-radius: 10px;
    text-align: center;
    
}

.container h1{
    text-align: center;
    font-size: 30px;
    color: white;
}

.input-field input{
    
}